<<<<<<< HEAD
<!--<%#= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>-->

<%= form_tag login_create_path do %>
  <input name=name>
  <input type=submit value='login'>
<% end %>
=======
<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<form method='post'>
  <input name='username'>
  <input type='submit' value='login'>
</form>
>>>>>>> b17b89f4042c5d53a51baa14f09adc4499a6f816
